.intrefacecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 95%;
    margin: auto;
    padding: 20px;
   padding-top: 10%;
    padding-left: 5%; 

}

.interface {
    background-color: #ff6347;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 280px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

h1,h2{
    text-decoration: none;
}
.grailmaker-animation {
    position: absolute;
    top: 10px;
    right: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    animation: moveLeft 10s linear infinite;
    font-size: 5rem;
  }
  
  @keyframes moveLeft {
    0% {
      right: 100%;
    }
    100% {
      right: -20%;
    }
  }
  
.expanded {
    height: 250px; 
    background-color: #ff4500; 
}


.subscribed {
    margin-top: 10px;
    font-size: 1rem;
    background: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}


@media screen and (max-width: 740px) {
    .intrefacecontainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .interface {
        font-size: 1rem;
        min-height: 180px;
    }
}

@media screen and (max-width: 428px) {
    .intrefacecontainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .interface {
        font-size: 0.9rem;
        min-height: 160px;
    }
}
